* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
}

p {
    word-break: break-word;
}

header {
    background-color: #ec362d;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

header p {
    width: 176px;
    height: 43px;
    font-weight: 700;
    font-size: 37px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    margin: 69px 0 0 0;
    align-items: center;
    justify-content: center;
}

.load_page {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
    background-color: #fafafa;
    z-index: 4;
    margin-top: 69px;
}

.load_gif {
    width: 20%;
    height: auto;
}

.empty_quizzes {
    border: 1px dashed #d4d4d4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1051px;
    height: 181px;
    margin: 77px 0px;
    border-radius: 5px;
}

.empty_quizzes p {
    font-size: 20px;
    color: #b9b9b9;
    font-weight: 400;
    width: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 23.44px;
}

.empty_quizzes button {
    color: #ec362d;
    font-weight: 400;
    font-size: 21px;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    background-color: #ffffff;
    width: 151px;
    height: 40px;
}

.empty_quizzes button:hover {
    cursor: pointer;
}

.user_quizzes {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 1051px;
    margin: 69px 0 48px 0;
}

.user_quizzes ion-icon:hover {
    cursor: pointer;
}

.user_title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.user_title ion-icon {
    color: #ec362d;
    font-size: 31px;
    margin-left: 10px;
}

.user_row {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    width: 1051px;
    flex-wrap: wrap;
}

.all_quizzes {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 1051px;
}

h1 {
    font-weight: 700;
    font-size: 20px;
}

.quiz_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
}

.quiz_thumbnail {
    position: relative;
    margin-bottom: 12px;
}

.quiz_thumbnail img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
.quiz_thumbnail:hover{
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.quiz_sub {
    position: absolute;
    color: #ffffff;
    bottom: 7px;
    left: 18px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22.27px;
    word-break: break-word;
}

.top_image {
    position: relative;
    width: 100%;
    height: 227px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_image img {
    position: absolute;
    width: 100%;

}

.top_image p {
    position: absolute;
    color: #ffffff;
    font-weight: 400;
    font-size: 39px;
    line-height: 45.7px;
    z-index: 2;
    word-break: break-word;
}

.overlay_top {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
}

.quiz_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.quiz_question {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 759px;
    /* height: 676px; */
    align-items: center;
    margin: 42px 0 0 0;
    padding-bottom: 36px;
    box-shadow: 0 0 5px -4px #000000;
    box-sizing: border-box;
}

.question_head {
    background-color: #434CA0;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    line-height: 26.95px;
    width: 688px;
    height: 138px;
    display: flex;
    margin: 27.9px 0 0 0;
    justify-content: center;
    align-items: center;
    word-break: break-word;
}
.question_head p{
    -webkit-text-stroke: 1.5px #000;
    text-align: center;
}

.question_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 688px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20.1px 0 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.4px;
    position: relative;
    width: 330px;
}

.option img {
    width: 100%;
    height: 175px;
    margin-bottom: 7.75px;
}
.option:hover{
    cursor: pointer;
}
.overlay_option {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.quiz_result {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    width: 759px;
    height: 430px;
    box-shadow: 0 0 5px -4px #000000;
}

.result_perc {
    background-color: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 727px;
    height: 100px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 18px;
    word-break: break-word;
    text-align: center;
}

.result_description {
    display: flex;
    justify-content: space-between;
    width: 727px;
}

.result_description img {
    width: 364px;
    height: 273px;
}

.result_description p {
    width: 340px;
    display: flex;
    justify-content: left;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    font-weight: 700;
    word-break: break-word;  
}

.end_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restart {
    border: none;
    background-color: #ec362d;
    color: #fff5f4;
    font-size: 21px;
    text-align: center;
    font-weight: 400;
    width: 260.4px;
    height: 52px;
    border-radius: 15px;
    margin: 57px 0 16px 0;
}

.home {
    border: none;
    background-color: #fafafa;
    width: 220px;
    height: 44px;
    color: #818181;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}
.home:hover{
    cursor: pointer;
}

.create_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_page h1 {
    font-size: 23px;
    font-weight: 700;
    margin: 63px 0 27px 0;
}

.start_user_quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page3_button {
    color: #fff5f4;
    background-color: #ec362d;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    border: none;
    margin-top: 60px;
}

.quiz_general {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 256px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 12px 0 24px 0;
    box-shadow: 0 0 5px -4px #000000;
}

.quiz_input {
    margin-top: 9px;
    font-style: italic;
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    width: 564px;
    height: 46px;
    text-indent: 23.16px;
}

.quiz_input::placeholder {
    color: #bababa;
}

.user_quiz_questions, .user_levels, .user_quiz_ready {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.user_question, .user_level {
    width: 600px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background-color: #ffffff;
    padding: 0px 20px 27px 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
    box-shadow: 0 0 5px -4px #000000;
}

.user_question p, .user_level p {
    font-weight: 700;
    font-size: 20px;
    margin:27px 0 3px 0;
}

.user_question_title_box, .user_level_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_question_title_box img, .user_level_title_box img {
    width: 23px;
    height: 23px;
    margin-top:25px;
}

.blank_page3{
    margin: 32px 0 0 0;
}

.ready_image {
    position: relative;
    margin-top: 20px;
}

.ready_image img {
    width: 500px;
    height: 266px;
}

.user_quiz_ready .page3_button {
    margin: 45px 0 9px 0px;
}

.inv_button {
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    border: none;
    background-color: #fafafa;
}

.hidden_docked {
    display: flex;
    flex-direction: column;
}

.wrong2, .wrong3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:20px;
}

.docked {
    height: 74px;
    overflow: hidden;
}

.pagina1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.blue {
    background-color: #434CA0;
}

.purple {
    background-color: #a0438d;
}

.green {
    background-color: #12be57;
}

.red {
    background-color: #d22a2a;
}

.orange {
    background-color: #d0881d;
}

.teal {
    background-color: #20b69b;
}

.black {
    background-color: #000000;
}

.right {
    color: #009c22;
}

.wrong {
    color: #ff4b4b;
}

.wrong_answer, .right_answer {
    word-break: break-word;
}

.hide {
    display: none;
}

@media (max-width:1100px) {
    .empty_quizzes {
        width: 375px;
        margin: 35px 0px;
    }

    .user_quizzes {
        width: 375px;
        margin: 38px 0;
        /* background-color: cyan; */
    }

    .user_title {
        margin-left: 15px;
        /* background-color: hotpink; */
    }

    .user_row {
        width: 100%;
        justify-content: center;
    }

    .all_quizzes {
        width: 375px;
    }

    .all_quizzes h1 {
        margin-left: 15px;
    }

    .quiz_row {
        justify-content: center;
    }

    .top_image {
        width: 375px;
        height: 142px;  
    }

    .top_image p {
        font-weight: 400;
        font-size: 19px;
        line-height: 22.27px;
    }

    .quiz_question {
        width: 375px;
        margin: 25px 0 28px 0;
    }

    .question_head {
        width: 340px;
        height: 89px;
        justify-content: center;
        align-items: center;
    }

    .question_options {
        width: 340px;
    }

    .option {
        width: 163px;
        font-size: 13px;
        line-height: 15.23px;
    }

    .option img {
        height: 113px;
    }

    .quiz_result {
        width: 375px;
        height: 500px;
    }

    .result_perc {
        width: 340px;
        height: 100px;
        font-size: 19px;
        margin-bottom: 9px;
        padding: 22px 16px;
        box-sizing: border-box;
    }

    .result_description {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 340px;
    }

    .result_description img {
        width: 340px;
        height: 255px;
        margin:0 0 9px 0;
    }

    .result_description p {
        font-size: 17px;
        line-height: 19.92x;
        font-weight: 700;
    }

    .restart {
        font-size: 18px;
        width: 219.6px;
        height: 44px;
        margin: 34px 0 8px 0;
    }
    
    .home {
        font-size: 18px;
    }

    .create_page h1 {
        font-size: 20px;
        margin: 39px 0 27px 0;
    }

    .quiz_general {
        width: 375px;
    }
    
    .quiz_input {
        width: 341px;
        text-indent: 14px;
    }

    .page3_button {
        width: 325px;
        font-size: 18px;
        margin-top: 29px;
    }

    .user_question, .user_level {
        width: 375px;
    }

    .ready_image {
        margin-top: 0px;
    }
    
    .ready_image img {
        width: 340px;
        height: 181px;
    }
    
    .user_quiz_ready .page3_button {
        margin: 24px 0 9px 0px;
    }

    .inv_button {
        font-size: 18px;
    }

}