* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
}

header {
    background-color: #ec362d;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

header p {
    width: 176px;
    height: 43px;
    font-weight: 700;
    font-size: 37px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    margin: 69px 0 0 0;
    align-items: center;
}

.empty_quizzes {
    border: 1px dashed #d4d4d4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1051px;
    height: 181px;
    margin: 77px 0px;
    border-radius: 5px;
}

.empty_quizzes p {
    font-size: 20px;
    color: #b9b9b9;
    font-weight: 400;
    width: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 23.44px;
}

.empty_quizzes button {
    color: #ec362d;
    font-weight: 400;
    font-size: 21px;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    background-color: #ffffff;
    width: 151px;
    height: 40px;
}

.user_quizzes {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 1051px;
    margin: 69px 0 48px 0;
}

.user_title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.user_title ion-icon {
    color: #ec362d;
    font-size: 31px;
    margin-left: 10px;
}

.user_row {
    display: flex;
    justify-content: left;
    margin-top: 13px;
}

.division {
    width: 15px;
}

.all_quizzes {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 1051px;
}

h1 {
    font-weight: 700;
    font-size: 20px;
}

.quiz_row,
.quiz_row_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.quiz_thumbnail {
    position: relative;
}

.quiz_thumbnail img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.overlay {
    width: 340px;
    height: 181px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    background:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.quiz_sub {
    position: absolute;
    color: #ffffff;
    bottom: 7px;
    left: 18px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22.27px;
}

.top_image {
    position: relative;
    width: 100%;
    height: 227px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_image img {
    position: absolute;
    width: 100%;

}

.top_image p {
    position: absolute;
    color: #ffffff;
    font-weight: 400;
    font-size: 39px;
    line-height: 45.7px;
    z-index: 2;
}

.overlay_top {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
}

.quiz_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.quiz_question {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 759px;
    height: 676px;
    align-items: center;
    margin: 42px 0 0 0;
    box-shadow: 0 0 5px -4px #000000;
}

.question_head {
    background-color: #434CA0;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    line-height: 26.95px;
    width: 688px;
    height: 138px;
    display: flex;
    margin: 27.9px 0 0 0;
    justify-content: center;
    align-items: center;
}

.question_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 688px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20.1px 0 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.4px;
    position: relative;
}

.option img {
    width: 330px;
    height: 175px;
    margin-bottom: 7.75px;
}

.overlay_option {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.quiz_result {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    width: 759px;
    height: 430px;
    box-shadow: 0 0 5px -4px #000000;
}

.result_perc {
    background-color: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 727px;
    height: 100px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 18px;
}

.result_description {
    display: flex;
    justify-content: space-between;
    width: 727px;
}

.result_description img {
    width: 364px;
    height: 273px;
}

.result_description p {
    width: 340px;
    display: flex;
    justify-content: left;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    font-weight: 700;
}

.end_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restart {
    border: none;
    background-color: #ec362d;
    color: #fff5f4;
    font-size: 21px;
    text-align: center;
    font-weight: 400;
    width: 260.4px;
    height: 52px;
    border-radius: 15px;
    margin: 57px 0 16px 0;
}

.home {
    border: none;
    background-color: #fafafa;
    width: 220px;
    height: 44px;
    color: #818181;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.create_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_page h1 {
    font-size: 23px;
    font-weight: 700;
    margin: 63px 0 36px 0;
}

.question {
    height: 825px;
    width: 600px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #ffffff;
    padding: 27px 20px 27px 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
    box-shadow: 0 0 5px -4px #000000;
}

.question p {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
}

.question input {
    width: 564px;
    height: 46px;
}

.docked {
    height: 74px;
}

.hide {
    display: none;
}

.blue {
    background-color: #434CA0;
}

.purple {
    background-color: #a0438d;
}

.green {
    background-color: #12be57;
}

.red {
    background-color: #d22a2a;
}

.orange {
    background-color: #d0881d;
}

.teal {
    background-color: #20b69b;
}

.black {
    background-color: #000000;
}

.right_answer {
    color: #009c22;
}

.wrong_answer {
    color: #ff4b4b;
}